.App {
  font-size: 62.5%;
  padding-bottom: 30px;
}

/* header styles */
#header-container {
  padding: 12px 0px;
}

#header {
  margin: 0 auto; 
  font-size: 3.5rem;
  text-align: center;
}

#header-desc {
  text-align: center;
  font-size: 2rem;
  margin-top: 5px;
}

/* user grid styles */
#user-desc-container {
  width: 90%; 
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
  font-size: .86rem;
}

#user-start {
  width: 150px;
  height: 40px;

}

#time-holder {
  text-align: center;
  font-size: 6rem;
}

.imgs {
  width: 360px;
  height: auto;
  object-fit: scale-down;
}


#img-container {
  width: 52%; 
  margin: 0 auto; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* markov table */
#markov-container {
  width: 50%; 
  margin: 0 auto; 
  font-size: 30px;
}

table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}

#user-finish {
  width: 150px;
  height: 40px;
}